<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ProductListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductView</servlet-name>
        <servlet-class>views.ProductView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationView</servlet-name>
        <servlet-class>views.RegistrationView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginView</servlet-name>
        <servlet-class>views.LoginView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>controllers.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionView</servlet-name>
        <servlet-class>views.TransactionView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPurchasesView</servlet-name>
        <servlet-class>views.PreviousPurchasesView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPurchasesController</servlet-name>
        <servlet-class>controllers.PreviousPurchasesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductView</servlet-name>
        <url-pattern>/ProductView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationView</servlet-name>
        <url-pattern>/RegistrationView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginView</servlet-name>
        <url-pattern>/LoginView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionView</servlet-name>
        <url-pattern>/TransactionView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPurchasesView</servlet-name>
        <url-pattern>/PreviousPurchasesView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPurchasesController</servlet-name>
        <url-pattern>/PreviousPurchasesController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
